<!-- Правая колонка -->
<div class="col-md-4">
    <div class="card my-4">
        <h5 class="card-header">Теги</h5>
        <div class="card-body">
            <div class="d-flex flex-wrap">
                <a href="" class="m-2 h5 text-primary">#e34</a>
                <a href="" class="m-2 h5 text-primary">#e32</a>
                <a href="" class="m-2 h5 text-primary">#e39</a>
                <a href="" class="m-2 h5 text-primary">#Ведро</a>
                <a href="" class="m-2 h5 text-primary">#Москвич</a>
                <a href="" class="m-2 h5 text-primary">#LADA</a>
            </div>
        </div>
    </div>
    <div class="card my-4">
        <div class="card-body">
            <p class="lead text-start"><a href="#" class="text-secondary">E39 теперь не гниет!</a></p>
            <p class="car-text">Старый BMW E39, известный своей склонностью к коррозии, больше не гниет
                благодаря новым методам реставрации и сохранению автомобилей. Эта модель BMW стала
                особенно популярной среди любителей классических автомобилей благодаря своему мощному
                двигателю и агрессивному дизайну. Теперь, благодаря новым технологиям и материалам, эти
                автомобили могут сохранить свою былую славу и продолжать радовать глаз своих владельцев
                и поклонников.
            </p>
            <p class="text-end"> Автор: <a href="#"> Уася Пупкин </a></p>
        </div>
        <hr>
        <div class="card-body">
            <p class="lead text-start"><a href="#" class="text-secondary">E34 все также гниёт...</a></p>
            <p class="car-text">Несмотря на новые методы реставрации и сохранения автомобилей, старые
                BMW E34 продолжают гнить из-за особенностей конструкции и используемых материалов.
                Однако, для настоящих ценителей классических автомобилей эти машины остаются символом
                мощи и элегантности, и их преданность не угасает.
            </p>
            <p class="text-end"> Автор: <a href="#"> Уася Пупкин</a></p>
        </div>
        <hr>
        <div class="card-body">
            <p class="lead text-start"><a href="#" class="text-secondary">Москвич теперь
                    электрический!</a></p>
            <p class="car-text">Электрический автомобиль “Москвич” - это инновационный и экологичный
                транспорт, созданный для комфортного и безопасного передвижения в городе. Он оснащен
                современными технологиями и соответствует высоким стандартам китайского качества.
            </p>
            <p class="text-end"> Автор: <a href="#"> Кеша Пупкин </a></p>
        </div>
        <hr>
        <div class="card-body">
            <p class="lead text-start"><a href="#" class="text-secondary">Четыре пост</a></p>
            <p class="car-text">Какой-то вступительный текст. Какой-то вступительный текст. Какой-то
                вступительный текст.
            </p>
            <p class="text-end"> Автор: <a href="#"> Никто </a></p>
        </div>
        <hr>
        <div class="card-body">
            <p class="lead text-start"><a href="#" class="text-secondary">Пять пост</a></p>
            <p class="car-text">Какой-то вступительный текст. Какой-то вступительный текст. Какой-то
                вступительный текст.
            </p>
            <p class="text-end"> Автор: <a href="#"> Никто </a></p>
        </div>
    </div>
</div>