{% load static %}
<!-- Компонент с комментариями -->
<div class="card my-4">
    <h5 class="card-header">Прокомментируй:</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
                <textarea class="form-control mb-3" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</div>
<div class="d-flex">
    <div class="flex-shrink-0">
        <img class="rounded-circle" src="http://placehold.it/50x50" alt="">
    </div>
    <div class="flex-grow-1 ms-3">
        <h5 class="mt-0">Брат Уаси</h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quidem ducimus nobis optio
        esse autem eveniet corporis, atque accusamus magnam eos? Voluptate molestiae magnam nisi
        sapiente cumque ab perspiciatis quod.
    </div>
</div>