{% load static %}
<!-- Компонент с комментариями -->

<div class="card my-4">
    <h5 class="card-header">Прокомментируй:</h5>
    {% if user.is_authenticated %}
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">                
                {{ comment_form.text }}
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
    {% else %}
    <h6 class="card-header"><a href="{% url 'signin' %}">Авторизуйтесь</a> или <a href="{% url 'signup' %}">зарегистрируйтесь</a> чтобы оставить комментарий</h6>
    {% endif %}
</div>
{% for comment in post.comments.all %}
<div class="d-flex">
    <div class="flex-shrink-0">
        <img class="rounded-circle" src="http://placehold.it/50x50" alt="">
    </div>
    <div class="flex-grow-1 ms-3">
        <h5 class="mt-0">{{comment.username}}</h5>
        {{comment.text}}
        <hr>
    </div>
</div>

{% endfor %}